@tailwind base;
@tailwind components;
@tailwind utilities;


body{
max-width: 100vw;
overflow-x: hidden;


}

.mask{
    mask: url('../../public/shape01.svg');
    -webkit-mask: url('../../public/shape01.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-size: 60%;
}
.mask02{
    mask: url('../../public/shape02.svg');
    -webkit-mask: url('../../public/shape02.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-size: 80%;
}
.text-gradient{
    color: transparent;
    background: linear-gradient(90deg, #05ffbf 0%, rgba(229, 255, 0, 0.84) 100%);
    background-clip: text;
}
.text-gradient02{
    color: transparent;
    background: linear-gradient(90deg, #ffd001 0%, rgba(1, 255, 191, 0.84) 100%);
    background-clip: text;
}
.glassBg{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}
.like-svg {
    stroke: black; /* Outline color */
    fill: none; /* Remove fill */
    stroke-width: 2; /* Adjust the outline width */
  }